<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">nagyv_projekt_BlazorWebAssembly</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books" Match="NavLinkMatch.All">
                <span aria-hidden="true"><Icon Name="IconName.Book" Size="IconSize.x2"></Icon> Books</span> 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="readers">
                <span aria-hidden="true"><Icon Name="IconName.Person" Size="IconSize.x2"></Icon> Readers</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="borrowings">
                <span aria-hidden="true"><Icon Name="IconName.Arrows" Size="IconSize.x2"></Icon> Borrowings</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}